* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header h1 {
  margin: 50px 0 30px 0;
  text-align: center;
  font-size: 40px;
}

header p {
  font-size: 20px;
}

.pads {
  background-color: lightblue;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pads>div {
  height: 100px;
  width: 100px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.pad1 {
  background-color: #60b394;
}

.pad2 {
  background-color: #d36060;
}

.pad3 {
  background-color: #c060d3;
}

.pad4 {
  background-color: #d3d160;
}

.pad5 {
  background-color: #6860d3;
}

.pad6 {
  background-color: #60b2b3;
}

@-webkit-keyframes jump {
  0% {
    bottom: 0;
    left: 20%;
  }

  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 0%;
    left: 80%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
    left: 20%;
  }

  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 0%;
    left: 80%;
  }
}

.visual>div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0;
  z-index: -1;
  -webkit-animation: jump 1s ease;
  animation: jump 1s ease;
}

/* small screnns */

@-webkit-keyframes jumpSmall {
  0% {
    bottom: 0;
    left: 10%;
  }

  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 0%;
    left: 90%;
  }
}

@keyframes jumpSmall {
  0% {
    bottom: 0;
    left: 10%;
  }

  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 0%;
    left: 90%;
  }
}

@media(max-width: 768px) {
  .visual>div {
    width: 25px;
    height: 25px;
    -webkit-animation: jumpSmall 1s ease;
    animation: jumpSmall 1s ease;
  }
}